@charset "utf-8";

.home {
    background-image: url("imagens/banner-mobile.jpg");
    background-position: center;
}

.About {
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.About h1 {
    font-size: 1.5em;
}

.About p {
    font-size: 1em;
}

.About img {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 50%);
    mask-image: linear-gradient(to bottom, transparent, black 60%);
}



.features div {
    grid-template-columns: 100%;
    grid-template-rows: 50% 20% 30%;
    justify-items: center;
    width: 95vw;
    height: 60vh;
}

.features div h2 {
    font-size: 1.2em;
    text-align: center;
    grid-row: 2 / 3;
}

.features div p {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    grid-row: 3 / -1;
}


.story {
    grid-template-columns: 100%;
    grid-template-rows: 45% 10% 45%;
    padding: 15px;
}

.story h1 {
    font-size: 2em;
}

.story p {
    font-size: 1em;
    line-height: 30px;
}

.story img {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}


.criadores div {
    grid-template-columns: 100%;
    grid-template-rows: 50% 20% 30%;
    justify-items: center;
    width: 95vw;
    height: 60vh;
}

.criadores div h2 {
    font-size: 1.5em;
    text-align: center;
    grid-row: 2 / 3;
}

.criadores div p {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    grid-row: 3 / -1;
}
