@charset "utf-8";

:root {
    --SansSerif: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("imagens/background.gif");
    background-size: cover;
}

/* ============= MENU ============= */

.menu {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 70% repeat(4, 1fr);
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5));
    align-items: center;
    padding: 10px;
}

.menu h1 {
    color: red;
    font-family: var(--SansSerif);
    font-size: 2vw;
    text-shadow: 1px 1px 3px black;
}

.menu a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: rgba(255, 255, 255, 0.733);
}

/* ======== HEADER ========== */

.home {
    display: grid;
    height: 70vh;
    align-items: center;
}

.home h1, .home h2 {
    text-align: center;
    font-family: var(--SansSerif);
    font-size: 3em;
    color: white;
}

/* ======= ABOUT =========== */

.About {
    background-color: rgba(0, 0, 0, 0.705);
    width: 80vw;
    height: 40vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(129, 0, 0);
    padding: 20px;
}

.About h1 {
    color: white;
    font-family: var(--SansSerif);
    font-size: 2em;
}

.About p {
    color: white;
    width: 25vw;
}

/* ======= FEATURES =========== */

.features {
    margin-top: 50px;
}

.features h1 {
    color: white;
    text-align: center;
    font-size: 4em;
}

.features div {
    background-color: rgba(0, 0, 0, 0.705);
    width: 80vw;
    height: 25vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(129, 0, 0);
    padding: 20px;
}

.features div h2 {
    color: white;
    font-family: var(--SansSerif);
    font-size: 2em;
}

.features div p {
    color: white;
    width: 25vw;
}