@charset "utf-8";

:root {
    --SansSerif: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("imagens/background.gif");
    background-size: cover;
}

.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.6s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}


/* ============= MENU ============= */

.menu {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 70% repeat(4, 1fr);
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5));
    align-items: center;
    padding: 10px;
    z-index: 999;
}

.menu h1 {
    color: red;
    font-family: var(--SansSerif);
    font-size: 1em;
    text-shadow: 1px 1px 3px black;
}

.menu a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: rgba(255, 255, 255, 0.733);
}

/* ======== HEADER ========== */

.home {
    display: grid;
    height: 100vh;
    align-items: center;
}

.home h1, .home h2 {
    text-align: center;
    font-family: var(--SansSerif);
    font-size: 3em;
    color: white;
}

/* ======= ABOUT =========== */

.About {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    
    background-color: rgba(0, 0, 0, 0.5);
    width: 85vw;
    height: 70vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(129, 0, 0);
    overflow: hidden;
}

.content {
    padding: 40px;
    z-index: 2;
}

.content h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    grid-column: 1;
    color: white;
    line-height: 30px;
    font-family: var(--SansSerif);
}

.About img {
    object-position: top left;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-mask-image: linear-gradient(to right, transparent, black 50%);
    mask-image: linear-gradient(to right, transparent, black 50%);
}

.About::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

/* ======= FEATURES =========== */

.features {
    margin-top: 50px;
}

.features h1 {
    color: white;
    text-align: center;
    font-size: 4em;
}

.features div {
    display: grid;
    grid-template-rows: 25% 75%;
    background-color: rgba(0, 0, 0, 0.705);
    width: 80vw;
    height: 40vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(129, 0, 0);
    padding: 30px;
    justify-items: end;
    align-items: start;
}

.features div h2 {
    color: white;
    font-family: var(--SansSerif);
    font-size: 2em;
    text-align: right;
}

.features div p {
    color: white;
    width: 50%;
    text-align: right;
    line-height: 30px;
    font-family: var(--SansSerif);
}

/* ======= STORY ========== */

.story {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 2fr;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 110vh;
    margin-top: 100px;
    padding: 50px 100px 50px 100px;
}

.story h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    grid-column: 1 / -1;
}

.story p {
    color: white;
    font-size: 1.5em;
    font-family: var(--SansSerif);
    grid-column: 1 / 2;
    line-height: 1.5em;
}

.story img {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 70%);
}